<html>
  <head>
  <meta charset="utf-8" />
    <title>Home</title>
    <!-- Información de la página (no visible) -->
  </head>
  <body>
    <!-- CHuerpo del documento (visible) -->
  </body>
</html>