<html>
  <head>
  <meta charset="utf-8" />
    <title>Home</title>
    <!-- Información de la página (no visible) -->
  </head>
  <body>
    jbruvbrvrnvirbvirbvrubvrjbv
  </body>
</html>
<div id="header">
  <div id="logo">
    <!-- Aquí irá el logo -->
  </div>
  <div id="menu">
    <!-- Aquí irá el listado de opciones -->
  </div>
</div> <!-- header -->
    <ul>
      <li>Elemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
    </ul>
        <ul>
      <li>
        <a href="/about">Acerca de</a>
      </li>
      <li>
        ...
      </li>
      <li>
        ...
      </li>
    </ul>
    <a href="/Home">
  <img src="/logo.png"/>
</a>
<div class="main">
  <h1>Página principal</h1>
  <p>Párrafo de la página principal</p>
</div>
<div class="foot">
  <p>Proyecto para la asignatura de Tecnologías de la Información I de Escuela IDEO</p>
  <p>Autor de la página: Nombre e Inicial</p>
  
  <div class="links">
    <ul>
      <li>Acerca de</li>
      <li>Contacto</li>
      <li>Texto legal</li>
    </ul>
  </div>
</div>